# Datos experimentales
data/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Windows
Thumbs.db
desktop.ini

# Temporales
*.tmp
*.bak
gencode*.txt
